name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

env:
  FLUTTER_VERSION_OLDEST: "3.10.6"
  FLUTTER_VERSION_NEWEST: "3.13.9"

jobs:
  format:
    name: Format
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: subosito/flutter-action@v2
        with:
          flutter-version: ${{ env.FLUTTER_VERSION_NEWEST }}
          channel: "stable"

      - name: Dependencies (core)
        working-directory: refena
        run: dart pub get
      - name: Check format (core)
        working-directory: refena
        run: dart format --set-exit-if-changed lib bin test
      - name: Analyze (core)
        working-directory: refena
        run: flutter analyze

      - name: Dependencies (flutter)
        working-directory: refena_flutter
        run: dart pub get
      - name: Check format (flutter)
        working-directory: refena_flutter
        run: dart format --set-exit-if-changed lib bin test
      - name: Analyze (flutter)
        working-directory: refena_flutter
        run: flutter analyze

  test:
    name: Test (newest Flutter version)
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: subosito/flutter-action@v2
        with:
          flutter-version: ${{ env.FLUTTER_VERSION_NEWEST }}
          channel: "stable"

      - name: Dependencies (core)
        working-directory: refena
        run: dart pub get
      - name: Test (core)
        working-directory: refena
        run: dart test

      - name: Dependencies (flutter)
        working-directory: refena_flutter
        run: flutter pub get
      - name: Test (flutter)
        working-directory: refena_flutter
        run: flutter test

      - name: Dependencies (inspector)
        working-directory: refena_inspector
        run: flutter pub get
      - name: Test (inspector)
        working-directory: refena_inspector
        run: flutter test

      - name: Dependencies (riverpod extension)
        working-directory: refena_riverpod_extension
        run: flutter pub get
      - name: Test (riverpod extension)
        working-directory: refena_riverpod_extension
        run: flutter test

  test_legacy:
    name: Test (oldest Flutter version)
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: subosito/flutter-action@v2
        with:
          flutter-version: ${{ env.FLUTTER_VERSION_OLDEST }}
          channel: "stable"

# the "test" package has invalid dependency constraints
#      - name: Downgrade (core)
#        working-directory: refena
#        run: dart pub downgrade
      - name: Dependencies (core)
        working-directory: refena
        run: dart pub get
      - name: Test (core)
        working-directory: refena
        run: dart test

# the "test" package has invalid dependency constraints
#      - name: Downgrade (flutter)
#        working-directory: refena_flutter
#        run: flutter pub downgrade
      - name: Dependencies (flutter)
        working-directory: refena_flutter
        run: flutter pub get
      - name: Test (flutter)
        working-directory: refena_flutter
        run: flutter test
